<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Siêu thị ghế văn phòng Thanh Thúy
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/mdb.min.css')
    link(rel='stylesheet', href='../css/owl.carousel.min.css')
    link(rel='stylesheet', href='../css/owl.theme.default.min.css')
    link(rel='stylesheet', href='../css/xzoom.css')
    link(rel='stylesheet', href='../css/magnific-popup.css')
    link(rel='stylesheet', href='../css/jquery.fancybox.min.css')
    link(rel='stylesheet', href='../css/materialdesignicons.min.css')
    link(rel='stylesheet', href='../css/sweetalert2.min.css')
    link(rel='stylesheet', href='../css/layout.css')
    link(rel='shortcut icon', href='../img/favicon.png')
  body
    .go-top(title='Lên đầu trang')
      span
      span

    block header
      header
        section.header-top
          .container
            .row
              .col-xl-6.d-none.d-xl-block
                h5 Chào mừng quý khách đến với Siêu thị ghế văn phòng Thanh Thúy
              
              .col-xl-6.text-center.text-xl-right
                ul
                  li
                    i.mdi.mdi-email-outline
                    | info@triviet.net
                  li
                    i.mdi.mdi-map-marker-radius
                    | 311K13 Đường 8, KP1, P. An Phú, Quận 2, TP.HCM
        
        section.header-bottom
          .container
            .logo
              a(href='index.html')
                img(src='../img/logo.png')

            .row
              .col-md-6
                .hotline
                  h3
                    i.mdi.mdi-deskphone
                    | 0912 345 678

              .col-md-6.text-right
                .custom-header
                  a.toggleMenu.d-inline-block.d-lg-none
                    i.mdi.mdi-menu
                  a.search-btn
                    i.mdi.mdi-magnify
                  a.cart-btn(href='gio-hang.html', title='Nhấn để xem giỏ hàng')
                    i.mdi.mdi-cart-outline
                    span (10)
            
            .search-form
              form
                input(type="text", placeholder='Nhập từ khóa')
                select
                  option(value="") Chọn danh mục
                  option(value="") Chọn danh mục
                  option(value="") Chọn danh mục
                  option(value="") Chọn danh mục
                button
                  i.mdi.mdi-magnify
              
              
        section.menu.wow
          .container
            .main-menu
              ul.nav
                .nav-close
                  i.mdi.mdi-close.d-block.d-lg-none
                li.nav-item
                  a(href='index.html') Ghế văn phòng
                li.nav-item
                  a(href='gioi-thieu.html') Giới thiệu
                li.nav-item
                  a(href='huong-dan-thanh-toan.html') Hướng dẫn thanh toán
                li.nav-item
                  a(href='chinh-sach-bao-hanh.html') Chính sách bảo hành
                li.nav-item
                  a(href='chinh-sach-dai-ly.html') Chính sách đại lý
                li.nav-item
                  a(href='index.html') Tủ kệ văn phòng
                li.nav-item
                  a(href='thong-tin.html') Thông tin

              
                

        .overlay-menu

        

    block article
    
    block footer
                    
                    
                    


      script(src='../js/jquery-3.3.1.min.js')
      script(src='../js/bootstrap.min.js')
      script(src='../js/mdb.min.js')
      script(src='../js/owl.carousel.min.js')
      script(src='../js/xzoom.min.js')
      script(src='../js/magnific-popup.js')
      script(src='../js/jquery.fancybox.min.js')
      script(src='../js/sweetalert2.min.js')
      script(src='../js/layout.js')
