extends _inc


block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item
                a(href='san-pham.html') Trang chủ
              li.breadcrumb-item
                a(href='san-pham.html') Bàn ghế gỗ phòng khách
              li.breadcrumb-item.active Cánh cửa gỗ ABC - 123

    section.product-page
      .container
        .left
          .left-in 
            .seller-product
              h3 sản phẩm bán chạy

              .box-product-seller
                .box-product-seller-img
                  a(href='chi-tiet-san-pham.html', title='Nhấn để chi xem tiết')
                    img(src='../img/product-1.png')
                .box-product-seller-detail
                  h6 MSP: MSP: ABC - 123
                  h5
                    a(href='chi-tiet-san-pham.html', title='Cánh cửa gỗ ABC - 123')
                      | Cánh cửa gỗ ABC - 123
                  p Giá: Liên hệ
              
              .box-product-seller
                .box-product-seller-img
                  a(href='chi-tiet-san-pham.html', title='Nhấn để chi xem tiết')
                    img(src='../img/product-2.png')
                .box-product-seller-detail
                  h6 MSP: MSP: ABC - 123
                  h5
                    a(href='chi-tiet-san-pham.html', title='Cánh cửa gỗ ABC - 123')
                      | Cánh cửa gỗ ABC - 123
                  p Giá: Liên hệ
              
              .box-product-seller
                .box-product-seller-img
                  a(href='chi-tiet-san-pham.html', title='Nhấn để chi xem tiết')
                    img(src='../img/product-2.png')
                .box-product-seller-detail
                  h6 MSP: MSP: ABC - 123
                  h5
                    a(href='chi-tiet-san-pham.html', title='Cánh cửa gỗ ABC - 123')
                      | Cánh cửa gỗ ABC - 123
                  p Giá: Liên hệ
              
              .box-product-seller
                .box-product-seller-img
                  a(href='chi-tiet-san-pham.html', title='Nhấn để chi xem tiết')
                    img(src='../img/product-1.png')
                .box-product-seller-detail
                  h6 MSP: MSP: ABC - 123
                  h5
                    a(href='chi-tiet-san-pham.html', title='Cánh cửa gỗ ABC - 123')
                      | Cánh cửa gỗ ABC - 123
                  p Giá: Liên hệ
              
              .box-product-seller
                .box-product-seller-img
                  a(href='chi-tiet-san-pham.html', title='Nhấn để chi xem tiết')
                    img(src='../img/product-1.png')
                .box-product-seller-detail
                  h6 MSP: MSP: ABC - 123
                  h5
                    a(href='chi-tiet-san-pham.html', title='Cánh cửa gỗ ABC - 123')
                      | Cánh cửa gỗ ABC - 123
                  p Giá: Liên hệ

          .banner-left
            a(href='chi-tiet-san-pham.html')
              img(src='../img/banner-product.png')    

        .main
          .product-detail
            .product-detail-1
              .row
                .col-md-6
                  .product-detail-1-img
                    img.main-image.xzoom(src='../img/product-1.png', xoriginal='../img/product-1.png')
                    .xzoom-thumbs
                      .owl-carousel.xzoom-carousel.owl-theme
                        .item
                          a(href='../img/product-1.png')
                            img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                        .item
                          a(href='../img/product-2.png')
                            img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
                        .item
                          a(href='../img/product-1.png')
                            img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                        .item
                          a(href='../img/product-2.png')
                            img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
                        .item
                          a(href='../img/product-1.png')
                            img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                        .item
                          a(href='../img/product-2.png')
                            img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
                .col-md-6
                  .product-detail-1-detail
                    h2 Bộ bàn ghế gỗ ABCXYZ
                    p MSP: BCA - 123

                    h4.price-product
                      | Giá: Liên hệ
                    h5
                      | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                    .quantity
                      span Số lượng: 
                      button.waves-effect.waves-light -
                      input(type='number', value='1', min='1')
                      button.waves-effect.waves-light +
                      button.custom-cart thêm vào giỏ
            .product-detail-2
              .product-detail-2-title
                ul.nav.nav-tabs.justify-content-center(role='tablist')
                  li.nav-item
                    a#desc-1-tab.nav-link.active(data-toggle='tab', href='#desc-1', role='tab', aria-controls='desc-1', aria-selected='true')
                      | Chi tiết sản phẩm
              .tab-content
                #desc-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='desc-1-tab')
                  p
                    | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                  p
                    | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                  p
                    | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                  p
                    | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.

    section.similar-product
      .container
        .title-page
          h1 sản phẩm liên quan

        .similar-box
          .box-product
            .box-product-status
              span mới
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus
                a.custom-cart(title='Xem vào giỏ')
                  i.mdi.mdi-cart
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-product-detail
              h6 MSP: ABC - 123
              h5
                a(href='chi-tiet-san-pham.html', title='Cánh cửa gỗ ABC - 123')
                  | Cánh cửa gỗ ABC - 123
              h4 Giá: Liên hệ
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime velit facere, neque voluptatibus magnam magni expedita nemo maiores delectus natus facilis quo quisquam fugiat voluptatum molestiae numquam sequi eveniet harum?

          .box-product
            .box-product-status
              span mới
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus
                a.custom-cart(title='Xem vào giỏ')
                  i.mdi.mdi-cart
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-product-detail
              h6 MSP: ABC - 123
              h5
                a(href='chi-tiet-san-pham.html', title='Cánh cửa gỗ ABC - 123')
                  | Cánh cửa gỗ ABC - 123
              h4 Giá: Liên hệ
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime velit facere, neque voluptatibus magnam magni expedita nemo maiores delectus natus facilis quo quisquam fugiat voluptatum molestiae numquam sequi eveniet harum?

          .box-product
            .box-product-status
              span mới
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus
                a.custom-cart(title='Xem vào giỏ')
                  i.mdi.mdi-cart
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-product-detail
              h6 MSP: ABC - 123
              h5
                a(href='chi-tiet-san-pham.html', title='Cánh cửa gỗ ABC - 123')
                  | Cánh cửa gỗ ABC - 123
              h4 Giá: Liên hệ
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime velit facere, neque voluptatibus magnam magni expedita nemo maiores delectus natus facilis quo quisquam fugiat voluptatum molestiae numquam sequi eveniet harum?

          .box-product
            .box-product-status
              span mới
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus
                a.custom-cart(title='Xem vào giỏ')
                  i.mdi.mdi-cart
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-product-detail
              h6 MSP: ABC - 123
              h5
                a(href='chi-tiet-san-pham.html', title='Cánh cửa gỗ ABC - 123')
                  | Cánh cửa gỗ ABC - 123
              h4 Giá: Liên hệ
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime velit facere, neque voluptatibus magnam magni expedita nemo maiores delectus natus facilis quo quisquam fugiat voluptatum molestiae numquam sequi eveniet harum?

          .box-product
            .box-product-status
              span mới
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus
                a.custom-cart(title='Xem vào giỏ')
                  i.mdi.mdi-cart
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-product-detail
              h6 MSP: ABC - 123
              h5
                a(href='chi-tiet-san-pham.html', title='Cánh cửa gỗ ABC - 123')
                  | Cánh cửa gỗ ABC - 123
              h4 Giá: Liên hệ
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime velit facere, neque voluptatibus magnam magni expedita nemo maiores delectus natus facilis quo quisquam fugiat voluptatum molestiae numquam sequi eveniet harum?

          .box-product
            .box-product-status
              span mới
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus
                a.custom-cart(title='Xem vào giỏ')
                  i.mdi.mdi-cart
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-product-detail
              h6 MSP: ABC - 123
              h5
                a(href='chi-tiet-san-pham.html', title='Cánh cửa gỗ ABC - 123')
                  | Cánh cửa gỗ ABC - 123
              h4 Giá: Liên hệ
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime velit facere, neque voluptatibus magnam magni expedita nemo maiores delectus natus facilis quo quisquam fugiat voluptatum molestiae numquam sequi eveniet harum?

          .box-product
            .box-product-status
              span mới
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus
                a.custom-cart(title='Xem vào giỏ')
                  i.mdi.mdi-cart
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-product-detail
              h6 MSP: ABC - 123
              h5
                a(href='chi-tiet-san-pham.html', title='Cánh cửa gỗ ABC - 123')
                  | Cánh cửa gỗ ABC - 123
              h4 Giá: Liên hệ
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime velit facere, neque voluptatibus magnam magni expedita nemo maiores delectus natus facilis quo quisquam fugiat voluptatum molestiae numquam sequi eveniet harum?

          