extends _inc

block main
  .title-page
    h1 GIỚI THIỆU

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nesciunt repellat officiis omnis alias non quas provident eveniet, corrupti laborum fuga, consequuntur deserunt perferendis dicta debitis, aspernatur eaque atque quos.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nesciunt repellat officiis omnis alias non quas provident eveniet, corrupti laborum fuga, consequuntur deserunt perferendis dicta debitis, aspernatur eaque atque quos.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nesciunt repellat officiis omnis alias non quas provident eveniet, corrupti laborum fuga, consequuntur deserunt perferendis dicta debitis, aspernatur eaque atque quos.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nesciunt repellat officiis omnis alias non quas provident eveniet, corrupti laborum fuga, consequuntur deserunt perferendis dicta debitis, aspernatur eaque atque quos.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nesciunt repellat officiis omnis alias non quas provident eveniet, corrupti laborum fuga, consequuntur deserunt perferendis dicta debitis, aspernatur eaque atque quos.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nesciunt repellat officiis omnis alias non quas provident eveniet, corrupti laborum fuga, consequuntur deserunt perferendis dicta debitis, aspernatur eaque atque quos.
    
    img(src='../img/slider-1.png')
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nesciunt repellat officiis omnis alias non quas provident eveniet, corrupti laborum fuga, consequuntur deserunt perferendis dicta debitis, aspernatur eaque atque quos.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nesciunt repellat officiis omnis alias non quas provident eveniet, corrupti laborum fuga, consequuntur deserunt perferendis dicta debitis, aspernatur eaque atque quos.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nesciunt repellat officiis omnis alias non quas provident eveniet, corrupti laborum fuga, consequuntur deserunt perferendis dicta debitis, aspernatur eaque atque quos.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nesciunt repellat officiis omnis alias non quas provident eveniet, corrupti laborum fuga, consequuntur deserunt perferendis dicta debitis, aspernatur eaque atque quos.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nesciunt repellat officiis omnis alias non quas provident eveniet, corrupti laborum fuga, consequuntur deserunt perferendis dicta debitis, aspernatur eaque atque quos.
    