extends _inc

block article
  .modal.quickview.fade.product-modal-1.show(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle')
    .modal-dialog.modal-lg.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#exampleModalCenterTitle.modal-title Xem nhanh sản phẩm
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          .row
            .col-lg-6
              .modal-img
                img.main-image.xzoom(src='../img/product-1.png', xoriginal='../img/product-1.png')
                .xzoom-thumbs
                  .owl-carousel.xzoom-carousel.owl-theme
                    .item
                      a(href='../img/product-1.png')
                        img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                    .item
                      a(href='../img/product-2.png')
                        img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
                    .item
                      a(href='../img/product-1.png')
                        img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                    .item
                      a(href='../img/product-2.png')
                        img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
                    .item
                      a(href='../img/product-1.png')
                        img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                    .item
                      a(href='../img/product-2.png')
                        img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
            .col-lg-6
              .quickview-detail
                h2 Logitech G502 Proteus Spectrum
                h4.price-product
                  | Giá: Liên hệ
                h5
                  | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                .quantity
                  span Số lượng: 
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                  button.custom-cart thêm vào giỏ
              .tags
                | Thẻ tag: 
                span 
                  a(href='#') Đặc sản Hàn quốc
                | ,
                span 
                  a(href='#') Thời trang Hàn Quốc
        .modal-footer
          button.btn.btn-light(type='button', data-dismiss='modal') Đóng


  article
    section.slider
      .container
        .owl-carousel.slider-carousel.owl-theme
          .item
            a(href='san-pham.html')
              img(src='../img/slider-1.png')
          .item
            a(href='san-pham.html')
              img(src='../img/slider-2.png')
    
    section(style='height: 5000px')
