extends _inc

block main
    
  .title-page
    h1 ghế văn phòng

  .product-zone
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
    .box-product
      .box-product-img
        span -15%
        .box-product-img-custom
          a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
            i.mdi.mdi-eye-plus
          a.custom-cart(title='Xem vào giỏ')
            i.mdi.mdi-cart
        a(href='chi-tiet-san-pham.html')
          img.show(src='../img/product-1.png')
          img.hidden(src='../img/product-2.png')

      .box-product-detail
        h5
          a(href='chi-tiet-san-pham.html', title='Ghế lưới Halona')
            | Ghế lưới Halona
        h4
          | 1,095,000 VNĐ
          span 2,000,000 VNĐ
    
  nav
    ul.pagination.justify-content-end
      li.page-item
        a.page-link(href='#', aria-label='Previous')
          span(aria-hidden='true') «
          span.sr-only Previous
      li.page-item
        a.page-link.active(href='#') 1
      li.page-item
        a.page-link(href='#') 2
      li.page-item
        a.page-link(href='#') 3
      li.page-item
        a.page-link(href='#', aria-label='Next')
          span(aria-hidden='true') »
          span.sr-only Next  

