<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Siêu thị ghế văn phòng Thanh Thúy</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/xzoom.css"/>
    <link rel="stylesheet" href="../css/magnific-popup.css"/>
    <link rel="stylesheet" href="../css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/sweetalert2.min.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <div class="go-top" title="Lên đầu trang"><span></span><span></span></div>
    <header>
      <section class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 d-none d-xl-block">
              <h5>Chào mừng quý khách đến với Siêu thị ghế văn phòng Thanh Thúy</h5>
            </div>
            <div class="col-xl-6 text-center text-xl-right">
              <ul>
                <li><i class="mdi mdi-email-outline"></i>info@triviet.net</li>
                <li><i class="mdi mdi-map-marker-radius"></i>311K13 Đường 8, KP1, P. An Phú, Quận 2, TP.HCM</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="header-bottom">
        <div class="container">
          <div class="logo"><a href="index.html"><img src="../img/logo.png"/></a></div>
          <div class="row">
            <div class="col-md-6">
              <div class="hotline">
                <h3><i class="mdi mdi-deskphone"></i>0912 345 678</h3>
              </div>
            </div>
            <div class="col-md-6 text-right">
              <div class="custom-header"><a class="toggleMenu d-inline-block d-lg-none"><i class="mdi mdi-menu"></i></a><a class="search-btn"><i class="mdi mdi-magnify"></i></a><a class="cart-btn" href="gio-hang.html" title="Nhấn để xem giỏ hàng"><i class="mdi mdi-cart-outline"></i><span>(10)</span></a></div>
            </div>
          </div>
          <div class="search-form">
            <form>
              <input type="text" placeholder="Nhập từ khóa"/>
              <select>
                <option value="">Chọn danh mục</option>
                <option value="">Chọn danh mục</option>
                <option value="">Chọn danh mục</option>
                <option value="">Chọn danh mục</option>
              </select>
              <button><i class="mdi mdi-magnify"></i></button>
            </form>
          </div>
        </div>
      </section>
      <section class="menu wow">
        <div class="container">
          <div class="main-menu">
            <ul class="nav">
              <div class="nav-close"><i class="mdi mdi-close d-block d-lg-none"></i></div>
              <li class="nav-item"><a href="index.html">Ghế văn phòng</a></li>
              <li class="nav-item"><a href="gioi-thieu.html">Giới thiệu</a></li>
              <li class="nav-item"><a href="huong-dan-thanh-toan.html">Hướng dẫn thanh toán</a></li>
              <li class="nav-item"><a href="chinh-sach-bao-hanh.html">Chính sách bảo hành</a></li>
              <li class="nav-item"><a href="chinh-sach-dai-ly.html">Chính sách đại lý</a></li>
              <li class="nav-item"><a href="index.html">Tủ kệ văn phòng</a></li>
              <li class="nav-item"><a href="thong-tin.html">Thông tin</a></li>
            </ul>
          </div>
        </div>
      </section>
      <div class="overlay-menu"></div>
    </header>
    <article>
      <section class="bread-crumb">
        <div class="container">
          <div class="bc-icons">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item active">Giỏ hàng</li>
              </ol>
            </nav>
          </div>
        </div>
      </section>
      <section class="cart-page">
        <div class="container">
          <div class="row">
            <div class="col-xl-9 col-lg-8">
              <div class="cart-page-product">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Sản phẩm</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Thành tiền</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="cart-page-product-1"><img src="../img/product-1.png" alt=""/>
                          <h5><a href="chi-tiet-san-pham.html">Logitech G502 Proteus Spectrum</a></h5>
                          <div class="cart-remove"><a title="Xóa sản phẩm" href="#"><i class="mdi mdi-trash-can-outline"></i></a></div>
                        </td>
                        <td>
                          <h4>1.699.000 đ</h4>
                        </td>
                        <td class="quantity">
                          <button class="waves-effect waves-light">-</button>
                          <input type="number" value="1" min="1"/>
                          <button class="waves-effect waves-light">+</button>
                        </td>
                        <td class="cart-page-product-3">
                          <h4>1.699.000 đ</h4>
                        </td>
                      </tr>
                      <tr>
                        <td class="cart-page-product-1"><img src="../img/product-1.png" alt=""/>
                          <h5><a href="chi-tiet-san-pham.html">Logitech G502 Proteus Spectrum</a></h5>
                          <div class="cart-remove"><a title="Xóa sản phẩm" href="#"><i class="mdi mdi-trash-can-outline"></i></a></div>
                        </td>
                        <td>
                          <h4>1.699.000 đ</h4>
                        </td>
                        <td class="quantity">
                          <button class="waves-effect waves-light">-</button>
                          <input type="number" value="1" min="1"/>
                          <button class="waves-effect waves-light">+</button>
                        </td>
                        <td class="cart-page-product-3">
                          <h4>1.699.000 đ</h4>
                        </td>
                      </tr>
                      <tr>
                        <td class="cart-page-product-1"><img src="../img/product-1.png" alt=""/>
                          <h5><a href="chi-tiet-san-pham.html">Logitech G502 Proteus Spectrum</a></h5>
                          <div class="cart-remove"><a title="Xóa sản phẩm" href="#"><i class="mdi mdi-trash-can-outline"></i></a></div>
                        </td>
                        <td>
                          <h4>1.699.000 đ</h4>
                        </td>
                        <td class="quantity">
                          <button class="waves-effect waves-light">-</button>
                          <input type="number" value="1" min="1"/>
                          <button class="waves-effect waves-light">+</button>
                        </td>
                        <td class="cart-page-product-3">
                          <h4>1.699.000 đ</h4>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4">
              <div class="cart-page-total">
                <div class="cart-page-total-title">
                  <p>TẠM TÍNH</p>
                </div>
                <p>Ước tính vận chuyển</p>
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td>Tổng tiền</td>
                      <td>1.999.000 đ</td>
                    </tr>
                    <tr>
                      <td>Phí vận chuyển</td>
                      <td>20.000 đ</td>
                    </tr>
                    <tr>
                      <td>Tổng cộng</td>
                      <td class="total-over">2.999.000 đ</td>
                    </tr>
                  </tbody>
                </table>
                <div class="cart-page-total-btn">
                  <button type="submit"><a href="thanh-toan.html">tiến hành thanh toán</a></button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5 col-md-4 text-center text-md-left order-md-0 order-12">
              <div class="cart-page-btn"><a href="san-pham.html"><i class="fa fa-undo" aria-hidden="true"></i>                                Tiếp tục mua sắm</a></div>
            </div>
            <div class="col-lg-7 order-lg-3 col-md-8">
              <div class="cart-page-btn text-lg-right text-md-right text-center">
                <button><a><i class="fa fa-refresh" aria-hidden="true"></i>                                    Cập nhật giỏ hàng</a></button>
                <button><a><i class="fa fa-times" aria-hidden="true"></i>                                    Xóa giỏ hàng</a></button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/xzoom.min.js"></script>
    <script src="../js/magnific-popup.js"></script>
    <script src="../js/jquery.fancybox.min.js"></script>
    <script src="../js/sweetalert2.min.js"></script>
    <script src="../js/layout.js"></script>
  </body>
</html>